{% extends 'base.html' %}

{% block meta %}
<title>Booktique - Product List</title>
{% endblock meta %}

{% block content %}
<h1>Booktique</h1>

<h5>NPM: </h5>
<p>{{ npm }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

{% if not products %}
<p>No products available in Booktique.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Description</th>
    <th>Stock Quantity</th>
    <th>Price</th>
  </tr>

  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.author}}</td>
    <td>{{product.description}}</td>
    <td>{{product.stock_quantity}}</td>
    <td>{{product.price}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
  <button>Add New Product</button>
</a>
<a href="{% url 'main:login' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}