{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Booktique - Product List</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mx-auto p-6">

    <!-- ID Card -->
    <div class="grid grid-cols-1 gap-6 mb-6">
        {% include "card_info.html" with name=name npm=npm class=class last_login=last_login %}
    </div>

    <div class="flex flex-col md:flex-row justify-between items-center mb-6">
        <!-- Sort dropdown & button -->
        <form method="get" action="" class="flex flex-col md:flex-row items-center mb-4 md:mb-0">
            <label for="sort-field" class="mr-2">Sort By</label>
            <select id="sort-field" name="sort" class="border border-gray-300 rounded-lg p-2 mb-2 md:mb-0 md:mr-4" required>
                <option value="">Select</option>
                <option value="name">Name</option>
                <option value="price">Price</option>
                <option value="stock">Stock</option>
            </select>
        
            <label for="sort-order" class="ml-4 mr-2">Order</label>
            <select id="sort-order" name="order" class="border border-gray-300 rounded-lg p-2 mb-2 md:mb-0" required>
                <option value="">Select</option>
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        
            <button type="submit" class="ml-4 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out bg-blue-950 hover:bg-slate-900">
                Sort
            </button>
        </form>
        

        <a href="{% url 'main:create_product' %}" class="text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out bg-blue-950 hover:bg-slate-900">
            Add New Product
        </a>
    </div>

    <!-- product card -->
    {% if not products %}
        <div class="flex flex-col items-center justify-center">
            <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-24 h-24 mb-2"/>
            <p>No products available in Booktique :[ </p>
        </div>
    {% else %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for product in products %}
            <div class="flex justify-center"> 
                {% include 'card_product.html' with product=product %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
{% endblock content %}